/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
 
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
 
html{
    height: 100%;
}
 
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
 
    /* background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    ); */
 
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin:0px;
    padding:0px;
    width:100%;
    height: 100%;
    overflow: hidden; /* pro schovani right menu... :/ */
}
 
div, a, ul, lim {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
 
h1, h2, h3, h4, a, p  {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}
 
/* HEADER */
 
.header {
    width: 100%;
    height: 50px;
    background: black;
    /* box-shadow: 0px -6px 50px 0px black; */
    position: fixed;
    top: 0;
}
 
.addItemA {
    float: right;
}
 
.addItemImg {
    float: right;
    height: 25px;
    width: 25px;
    margin: 12.5px 10px 12.5px 5px;
}

.menuButton {
    height: 25px;
    width: 25px;
    float: left;
    padding: 12.5px 10px; /* padding misto marginu kvuli zvetseni plochy pro klik */
}
 
.menuButtonLink {
    display: inline;
}
 
.header h1 {
    line-height: 50px;
    color: white;
}
 
.header a {
    display: block;
}
 
/* MENU */
 
.menuHeader {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom right, #000000 2%, #b8bbbc 100%);
    /* background: linear-gradient(to bottom right, #0c0c0c 20%, #676866 100%); */
}
 
.menuHeaderLeft {
    height: 100px; 
    width: 90%; 
    float: left;
    padding: 20px;
    padding-left: 15px;
    padding-right: 0;
    overflow: hidden;
}
 
.menuHeaderRight {
    height: 100px; 
    width: 10%; 
    float: right;
}
 
.profileHeaderImg {
    margin-right: 14px; 
    height: 100%;  
    width: 60px;
    border-radius: 50%;
    float: left;
    border: 1.4px solid black;
    box-sizing: border-box;
}
 
.menuHeaderLeft p {
    padding-top: 3px;
    font-size: 13px;
    display: block;
}
 
.menuHeaderLeft h4 {
    white-space: nowrap;
    padding-top: 12px;
    font-size: 18px;
    display: block;
}
 
.menuHeaderRight p {
    float: right; 
    padding: 0; 
    padding-right: 10px; 
    font-size: 20px;
    line-height: 100px;
}
 
.menuList {
    width: 100%;
    height: auto;
}
 
.menuList a {
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}
 
.menuList h2 {
    vertical-align: middle;
    line-height: 50px;
}
 
.menuList img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 20px;
}
 
/* TOP MENU */
 
.topMenu {
    width: 100%;
    height: 35px;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 50px;
    white-space: nowrap;
    background: black;
    position: fixed;
    z-index: 99;
}
 
.topMenu div {
    line-height: 35px;
    text-align: center;
    height: 35px;
    padding: 0 10px;
    display: inline-block;
}
 
.topMenu4 {
    width:100%;
    height: 35px;
    background: black;
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 50px;
}
 
.topMenu4 div{
    line-height: 35px;
    text-align: center;
    height: 35px;
    flex: auto;
    display: inline-block;
}

.top_menu_active {
    border-bottom: 2px solid white;
}
 
.topMenu h1, .topMenu h2, .topMenu h3, .topMenu h4, .topMenu h5, .topMenu p, .topMenu4 h1, .topMenu4 h2, .topMenu4 h3, .topMenu4 h4, .topMenu4 h5, .topMenu4 p {
    color: white;
}

.topMenu h4, .topMenu4 h4 {
    font-size: 16px;
}
 
.content {
    width: 100%;
    height: calc(100% - 85px);
    margin-top: 85px;
    position: relative;
    overflow: auto;
}

.callOutWarningActive {
    min-height: calc(100% - 130px);
    margin-top: 125px;
}
 
.contentWithoutTopMenu {
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 50px;
    position: relative;
    overflow: auto;
}

.contentPadding {
    padding: 5px;
}

.content_bottom_padding {
    padding-bottom: 5px;
}

.overflow_hidden {
    overflow: hidden;
}

.content_comments {
    height: calc(100% - 135px);
}

.content_splitter {
    /* border-top: 10px solid #e1e1e1;
    border-bottom: 1px solid #b9b9b9; */

    border-bottom: 1px solid #b9b9b9;
    margin-bottom: 10px;
}

.content_black_background {
    background: black;
    padding-bottom: 0;
}
 
/* TRADEMARKET CONTENT */
 
.box
{
    width: 50%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}
 
.left
{
    float: left;
    padding-right: 5px;
}
 
.right {
    float: right;
    padding-left: 5px;
}
 
.contentDivImg {
    width: 100%;
    height: calc(50vw - 15px);
}
 
.contentImg {
    width: 100%;
    height: 100%;
}
 
.contentDivText {
    padding: 5px 2px 0px 2px;
}
 
.contentDivTextHeader {
    overflow: hidden;
    white-space: nowrap;
}
 
/* FILTER RIGHT MENU FILTER RIGHT MENU! */

.shadow_div {
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -999;
    transition: step-start 0.15s;
}
.right_menu {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: linear 0.15s;
    background: white;
    border-left: 1px solid black;
    z-index: 999999 ;
}

.right_menu_header {
    height: 7vh;
    width: 100%;
    border-bottom: 1px solid #b9b9b9;
    background: #313131;
}

.right_menu_header p, .right_menu_footer p {
    font-size: 1.5em;
    line-height: 7vh;
    color: white;
    padding: 0 20px;
}

.right_menu_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7vh;
    border-top: 1px solid #b9b9b9;
    text-align: center;
    background: #313131;
}

.right_menu_filter {
    height: 86vh;
    width: 100%;
}

.right_menu_filter_option {
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 10px;
}

.right_menu_filter_option_left_p {
    font-size: 1.3em;
    float: left;
}

.right_menu_filter_option_right_p {
    font-size: 1.3em;
    color: gray;
    float: right;
}

input[type="checkbox"]{
}

#select_right_menu {
    display: none;
}

#right_menu_header_select {
    display: none;
}

/* USER CONTENT */
 
.callOutWarning {
    display: none;
    width: 100%;
    height: 40px;
    padding: 5px;
    text-align: center;
    background: red;
    margin-bottom: 5px;
    line-height: 30px;
    border-top: 2px gray solid;
    position: fixed;
    top: 85px;
}
 
.callOutWarning p {
    font-size: 16px;
}
 
.callOutWarningTextBold {
    color: blue;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 1.5px;
}
 
.profileHeader {
    width: 100%;
    height: 40vw;
    padding: 5px 10px;
    background: white;
}
 
.profileImageBox {
    width: 30vw;
    height: 30vw;
    float: left;
    margin: calc(5vw - 5px) 0;
}
 
.profileInfoBox {
    width: calc(70vw - 20px);
    padding-top: 5px;
    padding-left: 15px;
    overflow: hidden;
}
 
.profileInfoBox p {
    font-size: 1.1em;
}
 
.profileImg {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
}
 
.fbIcons {
    display: inline-block;
    height: 6vw;
    width: 6vw;
    margin-right: 3px;
    vertical-align: middle;
}
 
.profileInfoBox a {
    width: 100%;
    margin: 5px 0;
}
 
.profileInfoBox h2{
    display: block;
    text-align: center;
    padding-bottom: 5px;
}
 
.userScore {
    width: 100%;
    height: 30vw;
    padding: 5px;
    display: flex;
}
 
.userScore div{ 
    height: 100%;
    width: 30%;
    flex: 1;
    padding: 5px;
    margin: 5px;
    background: lightgray;
    border: 1px darkgrey solid;
}
 
.userScore h1, .userScore h2{
    padding-top: 10px;
    text-align: center;
    display: block;
}
 
/* CALLOUT CONTENT */
 
.callOutDiv {
    width: 100%;
    height: auto;
}
 
.callOutHeader {
    width: 100%;
    height: 50px;
    background: white;
    padding: 10px;
    padding-bottom: 0;
}
 
.callOutHeaderImg {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 8px;
    border-radius: 50%;
}
 
.callOutHeader h3 {
    padding-top: 5px;
    padding-bottom: 3px;
}
 
.callOutHeader p {
    color: grey;
    display: block;
}
 
.callOutText {
    padding: 10px 8px 10px 8px;
    width: 100%;
    height: auto;
    background: white;
}
 
.callOutText p {
    font-size: 15px;
}
 
.callOutFooter {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: white;
}
 
.callOutFooterShowComments {
    width: 50%;
    height: 100%;
    float: left;
}
 
.callOutFooterShowPhotos {
    width: 50%;
    height: 100%;
    float: right;
}
 
.comment01 {
    width: calc(100% - 10px);
    height: auto;
    margin: 5px;
    margin-bottom: 0px; 
}
 
.commentHeader {
    width: 40px;
    height: 40px;
    float: left;
}
 
.commentHeader img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
 
.commentText {
    width: calc(100% - 60px);
    height: auto;
    background: lightgray;
    margin-left: 45px;
    padding: 8px;
    border-radius: 10px;
}
 
.commentText h3 {
    padding-bottom: 3px;
}
 
.commentFooter {
    width: calc(100% - 45px);
    margin-left: 45px;
    display: flex;
    padding: 5px;
}
 
.commentFooter p {
    color: grey;
    flex: auto;
    font-size: 13px;
}
 
.writeComment {
    width: 100%;
    height: 50px;
    background: black;
    padding: 5px;
    bottom: 0;
    position: fixed;
}
 
.writeComment input {
    height: 40px;
    width: calc(100% - 90px);
    float: left;
    font-size: 18px;
}
 
/* .addPhotosImg {
    height: 40px;
    width: 40px;
    float: left;
    padding-right: 5px;
} */

.addPhotosImg {
    height: 30px;
    width: 30px;
    float: left;
    margin: 5;
    margin-right: 10px;
}
 
.sendCommentImg {
    height: 30px;
    width: 30px;
    margin: 5px;
    margin-left: 10px;
    float: right;
}
 
.box2
{
    width: 33.33333333333%;
    height: 33.3333333333vw;
    box-sizing: border-box;
    padding: 2px;
}
 
.box2 img {
    width: 100%;
    height: 100%;
}
 
.legitCheckFooterShowPhotos {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: white;
}
 
.legitCheckLinks {
    height: auto;
    margin-top: 5px;
    background: white;
    width: 100%;
    text-align: center;
    padding: 3px 5px 7px 5px;
    overflow: hidden;
    border-right: 5px white solid;
}
 
.legitCheckLinks a {
    color: blue;
    padding-top: 4px;
    display: block;
}
 
/* ITEM VIEW STUFF */

.itemView {
    width: 100%;
    height: calc(10px + 30vw);
    padding: 5px;
    min-height: 118px; /* Pro telefony uzsi nez 360px */
    background: white;
    border-bottom: 1px solid #b9b9b9;
}
 
.itemViewPhoto {
    height: 30vw;
    width: 30%;
    min-height: 108px; /* Pro telefony */
    min-width: 108px;  /* uzsi nez 360px */
    float: left;
    position: relative;
    background: white;
}
 
.itemViewPhoto img {
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
}
 
.itemViewText {
    width: 70%;
    height: 100%;
    float: right;
    padding: 5px 0px 2px 10px;
    background: white;
    max-width: calc(100% - 108px); /* Pro telefony uzsi nez 360px */
}
 
.itemViewName {
    width: 100%;
    max-height: 3em;
    overflow: hidden;
}

.itemViewName h2 {
    font-size: 1.35em;
}
 
.itemViewText h4 {
    color: gray;
    display: block;
    padding-bottom: 2px;
}
 
.itemViewText h3 {
    display: block;
}
 
.itemAddSelect {
    border: 0;
    width: calc(100% - 10px);
    height: 40px;
    margin: 10px 5px 10px 5px;
    display: block;
    font-size: 17px;
    font-weight: bold;
    padding-left: 5px;
}

/* ITEM INFO */

.item_info {
    width: 100%;
    height: auto;
    background: white;
    padding: 3px 10px;
}

.item_info h1 {
    padding: 3px 5px;
    font-size: 1.66em;
}

.item_info_item_img {
    width: 100%;
    height: auto;
}

.item_seller {
    width: 100%;
    height: 70px;
    padding: 10px 5px;
    background: white;
}

.item_seller h2 {
    line-height: 25px;
    padding-top: 3px;
}
.item_seller p {
    color: gray;
    display: block;
}

.item_seller_profile_img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
    border-radius: 50%;
}

.item_seller_write_mess {
    width: 40px;
    height: 40px;
    float: right;
}

.item_description {
    width: 100%;
    height: auto;
    background: white;
    padding-bottom: 5px;
}

.item_description_header {
	width: 100%;
	padding: 15px 0 10px 15px;
}

.item_description_details {
	width: 100%;
	padding-left: 30px;
}

.item_description_details p {
	display: block;
	line-height: 1.6em;
	font-size: 1.2em;
}

.addedToFavouriteMessage {
    padding: 5px 7px;
    border-radius: 500px;
    background: rgba(100, 100, 100, 0.2);
    position: fixed;
    bottom: 30px;
    transition: 0.2s;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

/* RULES RULES RULES */

.rules_div h3, .rules_div p {
    display: block;
}

.rules_div p {
    padding: 2px 2px 5px 3px;
}

/* ANNOUNCEMENT OZNAMENI */

.announcement {
    width: 100%;
    height: calc(20vw + 10px);
    padding: 5px 8px;
    background: white;
    margin-bottom: 0;
}

.announcement_img {
    width: 20%;
    height: 20vw;
    padding: 5px;
    float: left;
}

.announcement_img Img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.announcement_text {
    width: 80%;
    height: 20vw;
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
}
.announcement_text h3 {
    display: inline;
}

.announcement_text_p {
    font-size: 1.17em;
    display: inline;
}

.time_text {
    color: grey;
    display: block;
}

/* ------------------------------- DISCUSSION ------------------------------ */

.swipe_layout_content {
    width: 4000vw;
    height: 100%;
    overflow: auto;
    position: relative;
    /* transition: 0.5s; */
}

.swipe_layout_div {
    width: 100vw;
    height: 100%;
    float: left;
    overflow: auto;
}

.top_menu_transition {
    transition: 0.1s;
}